<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}" th:with="area='users'">
<head>
  <title>Home page</title>
</head>
<body>
<header layout:fragment="custom-header">
  <h1>My Spring Library</h1>
</header>
<section layout:fragment="custom-content">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci consequuntur deleniti dolore
    expedita labore laboriosam perspiciatis quia sunt. Aliquid atque fugit impedit iusto nisi quas
    quasi quo rem, sunt ullam!</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias cupiditate eius harum quibusdam
    veniam! Aperiam id nisi non officiis ratione sequi sunt voluptatem? Asperiores aspernatur
    cupiditate sint voluptatem. Asperiores, iure.</p>
</section>
</body>
</html>