<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
        crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
          crossorigin="anonymous" defer></script>
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"/>
  <title>Title</title>
</head>
<body>
<nav class="navbar bg-primary navbar-expand-lg" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" th:href="@{/}">Spring Library</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <!-- link per Books -->
        <li class="nav-item">
          <a
              class="nav-link"
              th:href="@{/books}"
              th:classappend="${#strings.equals(area,'books') ? 'active' : ''}"
          >Books</a>
        </li>
        <!-- link per Users -->
        <li class="nav-item" sec:authorize="hasAuthority('ADMIN')">
          <a
              class="nav-link"
              th:href="@{/users}"
              th:classappend="${#strings.equals(area,'users') ? 'active' : ''}"
          >Users</a>
        </li>
        <!-- link per Categories -->
        <li class="nav-item" sec:authorize="hasAuthority('ADMIN')">
          <a
              class="nav-link"
              th:href="@{/categories}"
              th:classappend="${#strings.equals(area,'categories') ? 'active' : ''}"
          >Categories</a>
        </li>
      </ul>
      <div sec:authorize="isAuthenticated()"
           class="w-100 d-flex align-items-center justify-content-end">
        <span sec:authentication="name"></span>
        <a class="btn btn-warning" th:href="@{/logout}">Logout</a>
      </div>
    </div>
  </div>
</nav>
<header class="container my-5" layout:fragment="custom-header">
  Header goes here
</header>
<main class="container" layout:fragment="custom-content">
  Main content goes here
</main>
</body>
</html>