<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Book Detail')"></head>
<body>
<nav th:replace="fragments/navbar :: navbar(area='books')"></nav>
<!-- ho a disposizione un attributo che si chiama book che è un oggetto di tipo Book -->
<div class="container">
  <h1 th:text="${book.title}"></h1>
  <hr>
  <div class="row">
    <!-- dati del libro -->
    <div class="col-6">
      <dl>
        <dt>Authors</dt>
        <dd th:text="${book.authors}"></dd>
        <dt>Publisher</dt>
        <dd th:text="${book.publisher}"></dd>
        <dt>ISBN</dt>
        <dd th:text="${book.isbn}"></dd>
        <dt>Publication year</dt>
        <dd th:text="${book.year}"></dd>
        <dt>Number of copies</dt>
        <dd>
          <span th:text="${book.numberOfCopies}"></span>
          <!-- invoco il metodo book.getAvailableCopies() -->
          <span th:text="|(${book.availabeCopies} available)|"></span>
        </dd>
      </dl>
    </div>
    <!-- categorie -->
    <div class="col-6">
      <h4>Categories</h4>
      <ul>
        <li th:each="cat : ${book.categories}" th:text="${cat.name}"></li>
      </ul>
    </div>

  </div>
  <div class="row" sec:authorize="hasAuthority('ADMIN')">
    <h2>Borrowings</h2>
    <div class="my-3">
      <!-- link che porta alla pagina per creare un borrowing: devo portarmi dietro l'id del book -->
      <a
          th:if="${book.availabeCopies > 0}"
          class="btn btn-primary"
          th:href="@{/borrowings/create(bookId=${book.id})}"
      >Add Borrowing</a>
      <!-- se non ho copie disponibili mostro un messaggio -->
      <th:block th:if="${book.availabeCopies <= 0}">
        <div class="alert alert-warning">There are no available
          copies
        </div>
        <button type="button" class="btn btn-primary" disabled>Add Borrowing</button>
      </th:block>
    </div>

    <!-- mostro la table solo se ci sono dei borrowings -->
    <table class="table" th:if="${book.borrowings.size() > 0}">
      <thead>
      <tr>
        <th>Start Date</th>
        <th>Expire Date</th>
        <th>Return Date</th>
        <th>User</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <!-- una riga di tabella per ogni borrowing del book -->
      <tr th:each="borrowing : ${book.borrowings}"
          th:classAppend="${borrowing.isExpired ? 'table-danger' : ''}">
        <td th:text="${borrowing.startDate}"></td>
        <td th:text="${borrowing.expireDate}"></td>
        <td th:text="${borrowing.returnDate}"></td>
        <td th:text="${borrowing.borrower.fullName}"></td>
        <td class="d-flex align-items-center justify-content-end">
          <a th:href="@{/borrowings/edit/{borrowingId}(borrowingId=${borrowing.id})}"
             class="btn btn-primary me-1">
            <i class="fa-solid fa-pen-to-square"></i>
          </a>
          <form th:action="@{/borrowings/delete/{borrowingId}(borrowingId = ${borrowing.id})}"
                method="POST">
            <button type="submit" class="btn btn-primary">
              <i class="fa-solid fa-trash-can"></i>
            </button>
          </form>
        </td>
      </tr>
      </tbody>
    </table>
    <!-- mostro il messaggio solo se la lista di borrowings è vuota -->
    <div class="alert alert-info" th:unless="${book.borrowings.size() > 0}">
      There are no borrowings
    </div>
  </div>
</div>
</body>
</html>