<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('User Form')"></head>
<body>
<nav th:replace="fragments/navbar :: navbar(area='users')"></nav>
<div class="container">
  <!-- titolo parametrico con operatore ternario che testa se l'id dello user è null oppure no -->
  <h1 th:text="${user.id != null ? 'Edit User' : 'Create User'}"></h1>
  <hr>
  <!-- form mappato sull'oggetto user -->
  <form
      th:action="${user.id != null} ? @{/users/edit/{id}(id = ${user.id})} : @{/users/create}"
      id="user-form"
      method="POST"
      th:object="${user}"
  >
    <!-- firstName -->
    <div class="mb-3">
      <label for="first-name" class="form-label">First Name</label>
      <input type="text" class="form-control" id="first-name" th:field="*{firstName}"
             th:errorClass="is-invalid">
      <div class="invalid-feedback" th:if="${#fields.hasErrors('firstName')}">
        <ul>
          <li th:each="err : ${#fields.errors('firstName')}" th:text="${err}"></li>
        </ul>
      </div>
    </div>
    <!-- lastName -->
    <div class="mb-3">
      <label for="last-name" class="form-label">Last Name</label>
      <input type="text" class="form-control" id="last-name" th:field="*{lastName}"
             th:errorClass="is-invalid">
      <div class="invalid-feedback" th:if="${#fields.hasErrors('lastName')}">
        <ul>
          <li th:each="err : ${#fields.errors('lastName')}" th:text="${err}"></li>
        </ul>
      </div>
    </div>
    <!-- registrationDate -->
    <div class="mb-3">
      <label for="registration-date" class="form-label">Registration Date</label>
      <input type="date" class="form-control" id="registration-date" th:field="*{registrationDate}"
             th:errorClass="is-invalid">
      <div class="invalid-feedback" th:if="${#fields.hasErrors('registrationDate')}">
        <ul>
          <li th:each="err : ${#fields.errors('registrationDate')}" th:text="${err}"></li>
        </ul>
      </div>
    </div>
    <div>
      <button type="submit" class="btn btn-primary">Save</button>
      <a th:href="@{/users}" class="btn btn-primary">Cancel</a>
    </div>
  </form>
</div>

</body>
</html>