<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Users')"></head>
<body>
<nav th:replace="fragments/navbar :: navbar(area='users')"></nav>
<div class="container">
  <h1>Users</h1>
  <hr>
  <!-- box di ricerca -->
  <form th:action="@{/users}" method="GET">
    <div class="input-group">
      <input type="search" class="form-control" placeholder="search by first name or last name"
             name="keyword" th:value="${keyword}">
      <button class="btn btn-primary">Search</button>
    </div>
  </form>
  <div class="my-3">
    <a th:href="@{/users/create}" class="btn btn-primary">Add User</a>
  </div>
  <!-- la lista degli utenti si trova nell'attributo userList -->
  <ul class="list-group" th:if="${userList.size() > 0}">
    <li th:each="user : ${userList}"
        class="list-group-item d-flex align-items-center justify-content-between"
        th:classAppend="${user.currentBorrowings > 0 ? 'list-group-item-warning' : ''}"
    >
      <div>
        <div>
          <span th:text="${user.firstName}"></span>
          <span th:text="${user.lastName}"></span>
          <span class="badge bg-primary rounded-pill" th:text="${user.currentBorrowings}"></span>
        </div>
        <div class="text-muted fs-6">
          <span>Registration date:</span>
          <span th:text="${#temporals.format(user.registrationDate, 'yyyy MMMM dd')}"></span>
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-end">
        <a th:href="@{/users/edit/{userId}(userId=${user.id})}" class="btn btn-primary me-1">
          <i class="fa-solid fa-pen-to-square"></i>
        </a>
        <!-- se lo user ha già dei prestiti non posso eliminarlo -->
        <form
            method="POST"
            th:action="@{/users/delete/{userId}(userId=${user.id})}"
            th:if="${user.borrowings.size() == 0}"
        >
          <button type="submit" class="btn btn-primary">
            <i class="fa-solid fa-trash-can"></i>
          </button>
        </form>
        <button class="btn btn-primary" th:unless="${user.borrowings.size() == 0}" disabled><i
            class="fa-solid fa-trash-can"></i>
        </button>
      </div>
    </li>
  </ul>
  <!-- se la lista è vuota mostro un messaggio -->
  <div th:if="${userList.size() == 0}" class="alert alert-info">
    No results
  </div>
</div>
</body>
</html>