<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Borrowing Form')"></head>
<body>
<nav th:replace="fragments/navbar :: navbar(area='books')"></nav>
<div class="container">

  <h1>Add Borrowing</h1>
  <h2 th:text="${borrowing.book.title}"></h2>
  <hr>
  <!-- form mappato sull'oggetto borrowing -->
  <form
      th:action="@{/borrowings/create}"
      id="borrowing-form"
      method="POST"
      th:object="${borrowing}"
  >
    <!-- input hidden per il book-->
    <input type="hidden" th:field="*{book}">
    <!-- startDate -->
    <div class="mb-3">
      <label for="start-date" class="form-label">Start Date</label>
      <input type="date" class="form-control" id="start-date" th:field="*{startDate}"
             th:errorClass="is-invalid">
      <div class="invalid-feedback" th:if="${#fields.hasErrors('startDate')}">
        <ul>
          <li th:each="err : ${#fields.errors('startDate')}" th:text="${err}"></li>
        </ul>
      </div>
    </div>
    <!-- expireDate -->
    <div class="mb-3">
      <label for="expire-date" class="form-label">Expire Date</label>
      <input type="date" class="form-control" id="expire-date" th:field="*{expireDate}"
             th:errorClass="is-invalid">
      <div class="invalid-feedback" th:if="${#fields.hasErrors('expireDate')}">
        <ul>
          <li th:each="err : ${#fields.errors('expireDate')}" th:text="${err}"></li>
        </ul>
      </div>
    </div>
    <!-- borrower -->
    <div class="mb-3">
      <label for="borrower">Borrower</label>
      <!-- questo select è mappato sull'attributo borrower del Borrowing -->
      <select id="borrower" class="form-select" th:field="*{borrower}" th:errorClass="is-invalid">
        <option value="">Choose a user</option>
        <option th:each="user : ${userList}" th:text="${user.fullName}"
                th:value="${user.id}"></option>
      </select>
      <div class="invalid-feedback" th:if="${#fields.hasErrors('borrower')}">
        <ul>
          <li th:each="err : ${#fields.errors('borrower')}" th:text="${err}"></li>
        </ul>
      </div>
    </div>
    <div>
      <button type="submit" class="btn btn-primary">Save</button>
      <a th:href="@{/books/show/{bookId}(bookId=${borrowing.book.id})}" class="btn btn-primary">Cancel</a>
    </div>
  </form>
</div>

</body>
</html>